body {
  background-image: url("assets/cyberworld.gif");
  max-height: inherit;
  max-width: inherit;
}

#player-bar {
  position: fixed;
  left: 200px;
  top: 150px;
}

#time {
 color: white;
 font-size: 3vw;
 font-family: 'phosphate';
}

img {
  width: 40px;
  height: auto;
}
